$container-width: 960px;

$btn-join-bg: #E72E29;

/* Bracket */
$tournament-grid-line-color: #34495E;
$tournament-grid-height: 32px;
$tournament-grid-width: auto;
$tournament-grid-bd-color: #2C3E50;
$team-icon-spacing: 36px;
$tournament-round-width: $tournament-grid-width;
$tournament-match-min-height: 100px;
