$container-width: 960px;
$tournament-grid-line-color: #34495E;
$tournament-grid-comand-height: 32px;
$tournament-grid-comand-width: auto;
$tournament-grid-comand-bd-color: #2C3E50;
$team-icon-spacing: 36px;
$tournament-round-width: $tournament-grid-comand-width;
$tournament-match-min-height: 100px;
