@font-face {
  font-family: Parastoo;
  src: url('http://rastikerdar.github.io/parastoo-font/Parastoo.eot');
  src: url('http://rastikerdar.github.io/parastoo-font/Parastoo.eot?#iefix') format('embedded-opentype'),
  url('http://rastikerdar.github.io/parastoo-font/Parastoo.woff') format('woff'),
  url('http://rastikerdar.github.io/parastoo-font/Parastoo.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Parastoo;
  src: url('http://rastikerdar.github.io/parastoo-font/Parastoo-Bold.eot');
  src: url('http://rastikerdar.github.io/parastoo-font/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
  url('http://rastikerdar.github.io/parastoo-font/Parastoo-Bold.woff') format('woff'),
  url('http://rastikerdar.github.io/parastoo-font/Parastoo-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: "Parastoo", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  direction: rtl;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}