@import './../../themes/_variables.scss';

:local(.wrapper) {
  background-color: #444;
  text-align: center;
  padding: 30px;
  color: #FFFFFF;

  a {
    color: #DDD;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);

    &:hover {
      transition: border-bottom .3s ease;
      border-bottom-color: transparent;
    }
  }
}
